<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora de Matrizes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
</head>
<body>
  {% include 'header.html' %}
  
  <div class="grid-background"></div>

  <main>
    <h2>Seleciona uma Operação</h2>
    <ul>
      <li><a href="/sum-sub">Soma & Subtração</a></li>
      <li><a href="/multiply">Multiplicação</a></li>
      <li><a href="/transpose">Transposta</a></li>
      <li><a href="/scalar">Escalar</a></li>
      <li><a href="/determinant">Determinante</a></li>
      <li><a href="/inverse">Inversa</a></li>
      <li><a href="/encrypt">Encriptação</a></li>
      <li><a href="/decrypt">Desencriptação</a></li>
    </ul>
  </main>
</body>
</html>