{% extends "base.html" %}

{% block title %}Menu Principal{% endblock %}
{% block header_text %}Projeto Matrix - Menu{% endblock %}

{% block content %}
    <h2>Escolha uma Operação:</h2>
    <div class="button-grid">
        <a href="{{ url_for('sum_sub') }}" class="menu-button">Soma/Subtração de Matrizes</a>
        <a href="{{ url_for('scalar') }}" class="menu-button">Multiplicação por Escalar</a>
        <a href="{{ url_for('multiply') }}" class="menu-button">Multiplicação de Matrizes</a>
        <a href="{{ url_for('determinant') }}" class="menu-button">Determinante</a>
        <a href="{{ url_for('inverse') }}" class="menu-button">Matriz Inversa</a>
        <a href="{{ url_for('encrypt') }}" class="menu-button">Criptografia (Hill Cipher)</a>
    </div>
{% endblock %}