{% extends "base.html" %}

{% block title %}Multiplicação{% endblock %}
{% block header_text %}Multiplicação de Matrizes{% endblock %}

{% block content %}
    <p>Aqui será o formulário para inserir as matrizes.</p>
    <form method="post" action="{{ url_for('multiply') }}">
        <label for="matrix_a">Matriz A (separe os elementos por vírgulas e as linhas por ponto e vírgula):</label><br>
        <textarea id="matrix_a" name="matrix_a" rows="4" cols="50"></textarea><br><br>
        
        <label for="matrix_b">Matriz B (separe os elementos por vírgulas e as linhas por ponto e vírgula):</label><br>
        <textarea id="matrix_b" name="matrix_b" rows="4" cols="50"></textarea><br><br>
        
        <!--- isto e temporario --->
        <input type="submit" value="Calcular">
    <p><a href="{{ url_for('index') }}">← Voltar ao Menu</a></p>
{% endblock %}