{% extends "base.html" %}

{% block title %}Multiplicação por Escalar{% endblock %}
{% block header_text %}Multiplicação por Escalar de Matrizes{% endblock %}

{% block content %}
    <p>Aqui será o formulário para inserir as matrizes.</p>
    <form method="post" action="{{ url_for('scalar') }}">
        <label for="matrix_a">Matriz A (separe os elementos por vírgulas e as linhas por ponto e vírgula):</label><br>
        <textarea id="matrix_a" name="matrix_a" rows="4" cols="50"></textarea><br><br>
        
        <label for="scalar">Escalar (número para multiplicar):</label><br>
        <input type="text" id="scalar" name="scalar"><br><br>
        
        <!--- isto e temporario --->
        <input type="submit" value="Calcular">
    <p><a href="{{ url_for('index') }}">← Voltar ao Menu</a></p>
{% endblock %}